<div class="container-fluid">
    <h1> Dive Site Maintenance </h1>
    <site-list-view *ngIf="currentView == 'list'"
        [sites]="sites"
        (onAdd)="navigateTo('add')">
        <!-- just because sites is a string 
            doesn't mean a string is passed. AngularJS 
            uses strings for these things. -->
    </site-list-view>
    <add-site-view *ngIf="currentView == 'add'"
        (onAdded)="navigateTo('list')"
        (onCancel)="navigateTo('list')">
    </add-site-view>
</div>